html,body{
	padding: 0;
	margin: 0 ;
}

.wrap{
	width: 1240px;
	margin: 0 auto;
	padding: 0;
}
header{
	background-image: radial-gradient(circle, #3B3A53, #1B151F);
	width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 500px;
    float: left;
    font-family: "Lato",sans-serif;
}
/*******************/
/*Start Header Top*/
/*****************/
header #top{
	width: 100%;
	float: left;
	text-align: right;
	font-family: "Lato",sans-serif;
	font-weight: 700;
}
header #top a{
	text-decoration: none;
	color: #A3A2B8;	
}
/**********************/
/*Start Header Bottom*/
/********************/
header #middle article{
	width: 50%; 
	float: left;
	color: #fff;
}
header #middle article h1{
	font-weight: 900;
	font-size: 60px;
	margin: 0;
}
header #middle nav{
	width: 50%;
	float: left;
}
header #middle nav ul li{
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
}
header #middle nav ul li a{
	text-decoration: none;
	color: #fff;
}
/**********************/
/*Start Header Bottom*/
/********************/
header #bottom{	
	width: 100%;
    float: left;
    font-family: "Lato",sans-serif;
}