html,body{
	padding: 0;
	margin: 0;
}
.wrap{
	width: 1240px;
	margin: 0 auto;
	padding: 0;
}
@font-face {
font-family: 'FontAwesome';
src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}
.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
font-size-adjust: none;
font-stretch: normal;
font-feature-settings: normal;
font-language-override: normal;
font-kerning: auto;
font-synthesis: weight style;
font-variant: normal;
font-size: inherit;
text-rendering: auto;
}
/*******************/
/*Start Header Top*/
/*****************/
header{
	background-image: radial-gradient(circle, #3B3A53, #1B151F);
	width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 500px;
    float: left;
    font-family: "Open Sans",sans-serif;
}
header #top{
	width: 100%;
	float: left;
	text-align: right;
	font-family: "Open Sans",sans-serif;
	font-weight: 700;
}
header #top a{
	text-decoration: none;
	color: #A3A2B8;	
}
/**********************/
/*Start Header Bottom*/
/********************/
header #middle article{
	width: 50%; 
	float: left;
	color: #fff;
}
header #middle article h1{
	font-weight: 900;
	font-size: 60px;
	margin: 0;
}
header #middle nav{
	width: 50%;
	float: left;
}
header #middle nav ul li{
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
}
header #middle nav ul li a{
	text-decoration: none;
	color: #fff;
}
/**********************/
/*Start Header Bottom*/
/********************/
header #bottom{	
	width: 100%;
    float: left;
    font-family: "Open Sans",sans-serif
}
header #bottom article{
	width: 100%;
	float: left;
}
header #bottom article h1{
	width: 700px;
	font-size: 60px;
	color: #FFF;
	text-align: center;
	font-weight: 900;
	margin: 0 auto;
}
header #bottom article p{
	width: 100%;
	font-size: 20px;
    margin: 0px auto 50px;
    padding: 0px;
    color: #A3A2B8;
    text-align: center;
    font-weight: 700;
}
header #bottom article + article{
	width: 100%; 
	float: left;
	text-align: center;
}
header #bottom article + article a{
	display: inline-block;
	border: 2px solid #FFF;
	padding: 10px;
	border-radius: 5px;
	color: #A3A2B8;
	font-size: 20px;
	font-style: italic;
	text-decoration: none;
}
header #bottom article + article span{
	color: #A3A2B8;
	display: inline;
	width: 10%;
	text-align: center;
	margin: 0 auto;
	font-weight: 700;
	font-size: 20px;
	font-style: normal;
}
header #bottom article + article a strong{
	text-decoration: none;
	color: #fff;	
}
header #bottom div{
	width: 125px;
	margin: 0 auto;
	font-size: 25px;
}
header #bottom div a{
	font-family: "fontawesome";
	text-decoration: none;
	margin: 0 auto;
	width: 25%;
	float: left;
	color: #fff;
}
/*****************/
/*Start Main Top*/
/***************/
main #top article{
	width: 100%; 
	float: left; 
}
main #top article h2{
	text-align: center;
	color: #3B3A53;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
main #top figure{
	width: 33%;
	float: left;
	margin: 0 0 0 0;
}
main #top figure a img{
	width: 374px;
	height: 250px;
}
main #top figure figcaption{	
	width: 100%;
	float: left;
}
main #top figure figcaption a{
	text-decoration: none;
	color: #3B3A53;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
main #top figure figcaption span{
	float: left;
	width: 100%;	
}
main #top figure figcaption span a{
	text-decoration: none;
	color: #BB2F0E;
	font-size: 14px;	
	text-transform: none;
	font-weight: normal;
}
/*class for a href border*/
.a-border{
	width: 100%;
	float: left;
	text-align: center;
}
.a-border a{
	font-family: "Open Sans",sans-serif;
	color: #A3A2B8;
	display: inline-block;
	border: 2px solid;
	border-color: #3B3A53;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	font-style: italic;
	text-decoration: none;
	text-align: center;
}
.a-border a strong{
	text-decoration: none;
	color: #3B3A53;	
	font-size: 26px;
	font-weight: 900;
	text-transform: uppercase;
}
/*class for a href border*/

/********************/
/*Start Main Bottom*/
/******************/
main #bottom{
	width: 100%;
	float: left;
	background-color: #f5f5f5;
}
main #bottom h2{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #3B3A53;
	text-transform: uppercase;
	font-family: "Lato",sans-serif;	
}
main #bottom figure{
	width: 49%;
	float: left;
	margin: 0 5px 0 0;
}
main #bottom figure figcaption{
	width: 49%;
	float: left;
}
main #bottom figure img{
	width: 49%;
	float: left;
	margin: 0 5px 0 0px;
}
main #bottom figure figcaption span{
	font-size: 12px;
	color: #A3A2B8;
	font-weight: 900;
}
main #bottom figure figcaption h3{
	color: #000;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	font-weight: 900;
}
main #bottom figure figcaption p{
	color: #000;
	text-align: left;
	font-family: "Open Sans",sans-serif;
}

/*******************/
/*Start Footer Top*/
/*****************/
footer #top{
	width: 100%;
	float: left;
}
footer #top figure{
	width: 10%;
	float: left;
	margin: 0;
  	position: relative;  	
}
footer #top figure a img{
	width: 191px;
	height: 190px;
}
footer #top figure .instagram{
  position: absolute;  
  top: 5px;
  left: 10px;
}
footer #top figure div .fa fa-instagram{
  margin: 5px 0 5px 0;
}
/**********************/
/*Start Footer Bottom*/
/********************/
footer #bottom{
	background-image: radial-gradient(circle, #3B3A53, #1B151F);
	width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 500px;
    float: left;
}
footer #bottom article{
	width: 28.495%;
	float: left;
	color: #fff;
	padding: 20px 40px 20px 20px;
	text-align: left;
}
footer #bottom article h2{
	font-size: 26px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "Lato",sans-serif;
	margin: 0;
}
footer #bottom article p{
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
}
footer #bottom article ul{
	padding: 0;
}
footer #bottom article nav ul li{
	list-style: none;
	font-weight: 900;
	font-family: "Open Sans",sans-serif;
}
footer #bottom article a{
	text-decoration: none;
	color: #fff;	
}
footer #bottom article ul li{
	list-style: none;
}
footer #bottom article + article + article p{
	margin: 0 0 20px 0;
	font-style: italic;
	color: #A3A2B8;
}
footer #bottom article + article + article ul li{
	color: #A3A2B8;
	font-family: "Open Sans",sans-serif;
	font-weight: normal;
	font-style: italic;
}
footer #bottom article + article + article ul li a{
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
footer #bottom article + article + article ul li span{
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
footer #bottom article #border{
	display: inline-block;
	border: 2px solid #FFF;
	padding: 10px;
	border-radius: 5px;
	color: #A3A2B8;
	font-size: 20px;
	font-style: italic;
	text-decoration: none;
}
footer #bottom article #border a{
	color: #A3A2B8;
	display: inline;
	width: 10%;
	text-align: center;
	margin: 0 auto;
	font-weight: 700;
	font-size: 20px;
	font-style: normal;
}
footer #bottom div article #border a strong{
	text-decoration: none;
	color: #fff;	
}